# Android CMake и нативные сборки
android/app/.cxx/
android/.cxx/
android/app/build/
android/build/
android/.gradle/

# Другие артефакты Android
android/app/*.iml
android/*.iml
android/local.properties
android/keystores/*.jks

# iOS / CocoaPods
ios/Pods/
ios/Podfile.lock
ios/Podfile.local
ios/.xcode.env.local
ios/.xcode.env

# И другие артефакты iOS
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
*.xcuserstate
ios/DerivedData/

# CMake кэш
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.ninja
node_modules
